.nav li {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	margin-right: 30px;
	padding: 10px;
}

.nav a:hover {
	text-decoration: none;
	font-weight: bold;
}

.jumbotron {
	background-image: url("../images/moonrise_kingdom.jpg");
	background-size: 100%;
	height: 800px;
	max-width: 100%;
	color: #454545;
	font-family: 'Open Sans', sans-serif;
	padding-top: 100px;
}

.jumbotron h1 {
	font-weight: bold;
}