.nav li {
	display: inline;
	font-family: 'Rockwell', sans-serif;
	font-size: 24px;
	margin-right: 30px;
	padding: 10px;
}

.nav a:hover {
	text-decoration: none;
	font-weight: bold;
}

.jumbotron {
	background-image: url("Moonrise_Kingdom_22.jpg");
	background-size: 100%;
	height: 800px;
	max-width: 100%;
	color: #efefef;
}