{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'landing/css/style.css' %}"/>
</head>
<body>
  <div class="outer">
    <div class="middle">
      <div class="inner" id="enter">
        <a href="http://ryusock.github.io">enter</a>
      </div>
    </div>
  </div>
  <div id="footer">
    <p>I don't own this image. Please don't sue me. </p>
  </div>
</body>
</html>
